.card {
    background-color: white;
    padding: 10px;
    border: .5px solid #efefef;
    -webkit-transition: all .4s;
    transition: all .4s;
}

.card:hover {
    box-shadow: 0 0 12px 0 rgba(56, 56, 56, 0.15);
    cursor: pointer;
    -webkit-transition: all .4s;
    transition: all .4s;
    -webkit-transform: scale(1.005) translateY(-10px);
    transform: scale(1.005) translateY(-10px);
}

.modal {
    display: flex !important;
    align-items: center;
}


p {
    line-height: 0.9;
}

.dex p {
    font-size: 1.2em;
    padding-bottom: 10px;
}

.modal-90w {
    min-width: 30vw;
}

.name {
    text-transform: capitalize;
}

.modal-title {
    text-transform: capitalize;
}

.id {
    font-size: 0.8em;
}

.name {
    padding-top: 5px;
}

.image {
    text-align: center;
    padding: 20px;
    padding-bottom: 50px;;
}