html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  color: #1a1a1a;
}

.grid {
  padding: 40px;
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
  grid-gap: 20px;
  text-align: center;
  text-transform: capitalize;
}

.section {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: rgb(5, 0, 0);
}

