html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: "Roboto", sans-serif !important;
  color: #1a1a1a;
}

.grid {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
  grid-gap: 20px;
  text-align: center;
  text-transform: capitalize;
  margin-right: 50px;
  padding-bottom: 50px;
  padding-left: 40px;
}

.tabs {
  padding-top: 15px;

}

.tabs ul li {
  display: inline-block;
  padding-right: 15px;
  padding-bottom: 20px;
}

.tabs ul li A {
  display: block;
  position: relative;
  text-decoration: none;
  color: #1a1a1a;
  font-weight: 500;
  padding: 10px;
  border: .5px solid #d6d6d6;
  border-radius: 15px;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.tabs ul li A:hover {
  background-color: #fdcb5f;
  -webkit-transition: all .2s;
  transition: all .2s;
}

h1 {
  padding-top: 15px;
  font-size: 2em !important;
  padding-bottom: 10px;
  ;
}

.section {
  padding-left: 40px;
}

.notFound {
  padding-top: 40px;
}

.notFound h1 {
  text-align: center;
}

.notFound p {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 50px;
}

.notFound img {
  max-width: 250px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


@media only screen and (max-width: 600px) {
  .grid {
    margin-right: 15px;
    padding-bottom: 20px;
    padding-left: 15px;
  }

  .tabs {
    padding-top: 15px;
    margin-left: -25px;
    margin-bottom: -15px;
  }
  .tabs ul {
    font-size: 14px;
  }

  .tabs ul li {
    display: inline-block;
    padding-right: 10px;
    padding-bottom: 10px;
  }
  .tabs ul li A {
    padding: 7px;
  }

  .section {
    padding-left: 15px;
    font-size: 80%;
  }

}